[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/entt"]
	path = vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "msdf-atlas-gen-cmake"]
	path = vendor/msdf-atlas-gen
	url = https://github.com/Gl1tchs/msdf-atlas-gen.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/Gl1tchs/imgui.git
	branch = docking
